<div class="container">
  <div class="dashboard">
    <h1>Welcome <%= Userbin.current_user.email %>!</h1>
    <p class="lead">Userbin takes care of sending pretty confirmation mails for you (check your inbox!). There's a whole bunch of settings and features waiting for you in your Userbin dashboard. <a href="https://userbin.com/dashboard">Go check it out!</a></p>
    <p>Psst. you can also try logging out from here and log in again just for kicks.</p>
  </div>
</div>